{% extends 'layout.html.twig' %}

{% block content %}
    {% if user is empty %}
        <p>Zaloguj się do gry.</p>
        
    {% elseif herd is empty %}
        <p>Nie utworzono jeszcze zagrody.</p>
        <p><a href="#">Utwórz zagrodę</a></p>
    {% else %}
        {% if animal_entries is empty %}
        <p>W zagrodzie nie ma zwierząt.</p>
        {% else %}
            {{ include('farmer/_animal_list.html.twig',{'animal_entries' : animal_entries}) }}
        {% endif %}
        {{ include('farmer/_animal_list_actions.html.twig') }}
    {% endif %}
{% endblock %}