{% extends 'layout.html.twig' %}

{% block content %}
    <table>
        <tr><th>Data</th><th>Co wylosowano</th></tr>
    {% for rd in rdh %}
            <tr>
                <td>{{rd.time.format('Y-m-d H:i')}}</td>
                <td>{{rd.firstAnimal}}, {{rd.secondAnimal}}</td>
            </tr>
    {% endfor %}
  </table>
{% endblock %}